@model GreatSmilesWrapper

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Single Photo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    <div class="row">
        <div class="col-sm-10">
            <h1>Photos!</h1>
        </div>
        <div class="col-sm-2">
            <a href="/dashboard">Dashboard</a>
        </div>
        <div class="col-sm-2">
            <a href="/logout">Logout</a>
        </div>
    </div>
    <br>
    <div class="row">
            <div class="col-sm-10 offset-sm-1">
                @foreach(Photo photo in Model.AllPhotos)
                {
                <h1>@photo.PhotoName</h1>
                <table class="table">
                    <thead>
                        <th>Photo Story:</th>
                        <th>@photo.PhotoName Smilers:</th>
                        @* <th>Vote For This Photo!</th> *@
                    </thead>
                    <tbody>
                            <tr>
                                <td>@photo.Story</td>
                                <td>
                                @foreach(RSVP voted in photo.PhotoSmilers)
                                {
                                    <div>
                                        @voted.Voter.FirstName
                                    </div>
                                    <br>
                                }
                                </td>
                                @* <td>
                                    @if(photo.OfficialId==Model.UserForm.UserId)
                                    {
                                        <a href="/@photo.PhotoId/edit"><button class="btn btn-primary">Edit</button></a> 
                                        <a href="/@photo.PhotoId/delete"><button class="btn btn-danger">Delete</button></a>
                                    }
                                    else if(photo.PhotoSmilers.Any(r => r.SmilerId == Model.UserForm.UserId))
                                    {
                                        <a href="/photos/@photo.PhotoId/unrsvp"><button class="btn btn-secondary">Frown</button></a>
                                    }
                                    else
                                    {
                                        <a href="/photos/@photo.PhotoId/rsvp"><button class="btn btn-primary">Smile!</button></a>
                                    }
                                </td> *@
                            </tr>
                    </tbody>
                </table>
                }
            </div>
        </div>
</body>
</html>